body{/*Esto establece el estilo para toda la página web. Establece el margen y el relleno en 0, 
  agrega una imagen de fondo y establece su tamaño para cubrir toda la ventana gráfica, establece 
  la familia de fuentes en sans-serif, establece la altura del cuerpo al 100% de la altura de la 
  ventana gráfica y establece el color de fondo a gris pizarra oscuro.*/
    margin: 0;
    padding: 0;
    background: url(./fondito.png) no-repeat center top;
    background-size: 100vw 100vh;
    font-family: sans-serif;
    height: 100vh;
    background-color: darkslategrey;
}

.login-box{/*Esto establece el estilo del propio cuadro de inicio de sesión. Establece el ancho y la 
  altura en 320 px y 420 px respectivamente, establece el color de fondo en negro y el color de la 
  fuente en blanco, coloca el cuadro en el centro de la pantalla usando posicionamiento y traducción 
  absolutos, establece el tamaño del cuadro en border-box para incluye relleno en el ancho y alto 
  total del elemento, y establece el relleno en 70 px en la parte superior y 30 px en los lados.*/
    width: 320px;
    height: 420px;
    background-color: black;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.login-box .avatar{/*Esto establece el estilo del icono de avatar que aparece sobre el cuadro de inicio 
  de sesión. Establece el ancho y la altura en 100 px, agrega un borde circular usando border-radius, 
  lo coloca absolutamente sobre el cuadro de inicio de sesión y lo centra horizontalmente usando la 
  función calc().*/
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.login-box h1{/*Esto establece el estilo del encabezado del cuadro de inicio de sesión. Establece 
  el margen en 0, establece el relleno en 0 en la parte superior e inferior y 20 px en los lados, 
  centra el texto horizontalmente y establece el tamaño de fuente en 22 px.*/
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;

}

.login-box label{/*Esto establece el estilo de las etiquetas utilizadas para los campos de entrada. 
  Establece el margen y el relleno en 0, establece el peso de la fuente en negrita y configura la 
  visualización en bloque.*/
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.login-box input{/*Esto establece el estilo de los campos de entrada utilizados para el nombre de 
  usuario y la contraseña. Establece el ancho al 99% del ancho del contenedor y agrega un margen 
  inferior de 20px.*/
    width: 99%;
    margin-bottom: 20px;

}

.login-box input[type="email"], .login-box input[type="password"] {/*Esto aplica estilos a los campos de entrada de 
  correo electrónico y contraseña en el cuadro de inicio de sesión. Los estilos aplicados incluyen 
  eliminar el borde, agregar un borde inferior de 1 px de color blanco sólido, configurar el fondo 
  como transparente, eliminar el contorno, configurar la altura en 40 px, configurar el color de fuente 
  en blanco y configurar el tamaño de fuente en 16 px.*/
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
  }

  .login-box input[type="submit"]{/*Esto aplica estilos al botón de envío en el cuadro de inicio de 
  sesión. Los estilos aplicados incluyen eliminar el borde, eliminar el contorno, configurar la 
  altura en 40 px, configurar el color de fondo en rojo intenso (valor RGB de 218, 0, 0), configurar 
  el color de fuente en blanco, configurar el tamaño de fuente en 18 px y agregar un radio de borde de 
  20 px para darle al botón una apariencia redondeada.*/
    border: none;
    outline: none;
    height: 40px;
    background-color: rgb(218, 0, 0);
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
  }

  .login-box a{/*Esto aplica estilos a cualquier enlace dentro del cuadro de inicio de sesión. Los 
    estilos aplicados incluyen la eliminación del subrayado, la configuración del tamaño de la fuente 
    en 12 px,la  configuración de la altura de la línea en 20 px y la configuración del color de la 
    fuente en gris oscuro.*/
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
  }

  .login-box a:hover{/*Esto aplica estilos a los enlaces dentro del cuadro de inicio de sesión cuando 
    el cursor del usuario los pasa por encima. Los estilos aplicados incluyen cambiar el color de 
    fuente a blanco.*/
    color: #fff;
  }