/*html{
    font-size: 10px;/* px quiere decir pixeles: el tamaño de la fuente base es ahora de 10 pixeles de altura*/
    /*font-family: "Open Sans",sans-serif;
}*/
H1{
    font-size: 60px;
    text-align: center;
}
p,li{
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}
a:hover{
    border: 2px slategray;
}
.encabezado{
    background-color: rgb(0, 204, 255);
}
.fechas{
    background-color: darkgrey;
}