/*html{
    font-size: 10px;/* px quiere decir pixeles: el tamaño de la fuente base es ahora de 10 pixeles de altura*/
    /*font-family: "Open Sans",sans-serif;
}*/

.Mega-box{
    width: 800px;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}
.estilo-de-titulo{
    font-family: 'Courier New';/* --Elige el tipo de letra-- */
    font-size: 70px;/* --Elige el tamaño-- */
}

.fechas{
    text-align: center;/* --Define la psicion del testo, en este caso lo elige hasta el final-- */
    background-color: darkgrey;/* --Elige el color-- */
    border-radius: 20px;
}

.imagen-que-es-css{
    width: 520px;
    height: 176px;
}

body{
    font-family: "Open Sans", sans-serif;/* --Elige el tipo de letra-- */
    text-align: center;
    
}

p{
    text-align: center;
    font-size: 22px;
}